<div class="card">
    <form>
        <div class="card-header">
           <img src="https://hdc-image-uploads-prod.s3.amazonaws.com/uploads/post/featured_image/149/bigstock-Green-Plastic-Trash-Recycling--80803490.jpg"> <br><br>
            <h2>Administrator !!</h2>
            <p>The complete control of the services and management.</p>
            <p>Assuring excellent servicing for customers.</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">

                    <tbody>
                        <tr>
                            <td>Co-ordinator Name</td>
                            <td>Address</td>
                            <td>Contact No</td>
                            <td>Add</td>
                            <td>Delete</td>
                            <td>Approve status</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

