<div class="container">
  <form action="/admini">
    <div class="row">
      <h2 style="text-align:center"> <br> Login with AdminId and Password</h2>
      <div class="col">
        <div class="hide-md-lg">
          <p> sign in manually:</p>
        </div>
        <br><br><br>
        <input type="text" name="id" placeholder="AdminId" required> <br><br>
        <!-- <small>Enter Valid AdminId</small> -->
        <input type="password" name="password" placeholder="Password" required> <br><br>
        <input type="submit" value="Login"><br>
      </div>
    </div>
  </form>
</div>

<!-- <div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn">Sign up</a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div> -->














