*{
    padding: 0%;
    margin: 0%;
}

img{
    height: 4em;
    width: 4em;
    margin-left: 5em;
    margin-top: 0.5em; 
}

 a{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-left: 2em;
    text-decoration: none;
} 

 a:hover{
    color: dodgerblue;
    transition: 0.5s ease-in-out;
} 

* {
    box-sizing: border-box;
  }

button{
    float: right;
    width: 5%;
    padding: 7.5px;
    border: 1px solid beige;
    font-size: 15px;
    border-left: none; 
    cursor: pointer;
    margin-top: 1em;
    margin-right: 2em;
}

button:hover{
    background-color:gray;
    color: lightgrey;
    transition: 0.5s ease-in-out;
}

input{
    padding: 0.5px;
    font-size: 15px;
    border: 1px solid beige;
    float: right;
    width: 20%;
    background: white;
    margin-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

form.example button:hover {
    background: #0b7dda;
}

div{
      background-color: beige;
}

#login{
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    float: right;
    border-radius: 40px;
    padding-left: 1.5em;
    padding-right: 4.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}  

#login:hover{
    background-color: dodgerblue;
    color: white;
    transition: 0.5s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#signup{
    color: black;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding-left: 1em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right:2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#signup:hover{
    color: green;
    background-color: beige;
    border: 1px solid green;
    transition: 0.5s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
}