<div>
    <button id="login" routerLink="login">LOGIN</button> 
    <button id="signup" routerLink="signup">SignUp</button>   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <button type="submit"><i class="fa fa-search"></i></button>
    <input type="text" placeholder="Search for a topic.." name="search">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiKqNuBz5eaiDAO852iT0dX4RN-9OkYPlYEw&usqp=CAU" alt="">   
    <!-- <a routerLink="admin">Admin</a>
    <a routerLink="users">Users</a>
    <a routerLink="coordinators">Co-ordinators</a> -->
    <a routerLink="aboutus">About Us</a>
    <a routerLink="users">Users</a>
    <a routerLink="admin">Admin</a>
    <!-- <a routerLink="admini">Admini</a> -->
    <a routerLink="coordinator">Co-ord</a>
    <!-- <a routerLink="coord">Co-ordi</a> -->
    <a routerLink="contactus">Contact Us</a> <br><br>  
</div>
