<div class="container">
  <form action="action_page.php">
    <h1>Contact Us</h1>
    <h6>Please fill out in this form..</h6> <br><br>
    <label for="fname">First Name</label> <br>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
<br><br>
    <label for="lname">Last Name</label> <br>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
<br><br>
    <label for="location">Location</label> <br>
    <select id="location" name="location">
      <option value="Thamarassery">Thamarassery</option>
      <option value="Ponoor">Ponoor</option>
      <option value="Korangad">Korangad</option>
      <option value="Thachampoil">Thachampoil</option>
      <option value="Pallippuram">Pallippuram</option>

    </select>
<br><br>
    <label for="subject">Subject</label> <br>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
<br><br>
    <input type="submit" value="Submit">

  </form>
</div>

